{% extends "blog/base.html" %}
{% block content %}
{% load static %}
        <div class="mycontainer" title="About Us">
        <h1>About us</h1>
            <div class="mycontainer2">
                <h4>Our Promise</h4>
                <ul class="mylist">
                    <li>increase your brand awareness</li>
                    <li>evaluate your performance</li>
                    <li>uncover valuable insights</li>
                    <li>instant news and information</li>
                    <li>Gain market insight</li>

                </ul>

            </div>
            <div class="mycontainer2">
                <h4>Our Mission</h4>
                <ul class="mylist">
                    <li>to capture and share the world's moments</li>
                    <li>networking without border</li>
                    <li>exchange of ideas and collaboration</li>
                    <li>helps in building communities</li>
                </ul>

            </div>

            <div class="container3">
        <h2 style="color:#785050;">Shoon Lei Naing</h2><br>
                <a href="https://www.facebook.com/shoonlei.naing.3/about?lst=100043918713801%3A100043918713801%3A1589649656" ><img src="{% static 'blog/img/me.jpg' %}"></a>
                <br><br>

        <p class="title">CEO & Founder</p>
        <p>Second year student from University of Information Technology</p>
        <p>phone - 09250367657</p><br>
        <p><button class="btn btn-outline-secondary">Contact</button></p>
         </div>
        </div>




<style>

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;

}
.mycontainer{
    border-style:solid;
    border-width:1px;
    border-color:#906060;
}
.mycontainer2{

    font-size:20px;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 5em;
    color:#906060;
}
h4{
    color: #ac5353;
    font-family:verdana;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-right: 5em;
}
h1{
    color:#ac5353;
    text-decoration:underline;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 5em;
    margin-right: 1em;
}
.container3{
    font-size:20px;
    margin-top: 5em;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 5em;
    color:#785050;

}
</style>

{% endblock content %}